body{
    margin: 0px;
    
    font-family: 'Montserrat', sans-serif;
}
.container {
    background: linear-gradient(to bottom left,#4277B0,#27A294);
}
.container3 {
    background: linear-gradient(to bottom left,#4277B0,#27A294);
}
.container5 {
    background: linear-gradient(180deg, #29A396, #357E98,#3A5480);
}
.logo1 {
   float: left;
}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.text_right_footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    align-content: flex-end;
    padding-bottom: 10px;
}
.text_logo_footer{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.text_logo_h{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.logo2{
    display: flex;
    padding: 0%;
    margin: 0%;
}
.text1{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.text2{
    padding-bottom: 15px;
}
.text2_footer{
    padding-bottom: 15px;
}
.text3{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: right;
}
.text_submit{
    text-align: left;
    display: flex;
}
.text5{
    color: #2d2626a2;
}
.container5{
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
    align-items: flex-end;
    justify-content: space-evenly;
}
.text5_1 {
    font-family: 'Montserrat';
    font-size: 36px;
    color: #fff;
    text-align: left;
    font-weight: bolder;
    width: auto;
    
}
.text5_2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: left;
    width: 350px;
    margin-bottom: 25px;
}
.button_узнать{
    font-size: medium;
    color: #fff;
    padding: 24px;
    border-radius: 60px;
    border: none;
    box-shadow: 3px 5px 0px 0px #635075;
    background-color: #EBA55C;
    font-weight: 700;
    width: 250px;
}
.container5_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: 120px;
    padding-right: 25px;
    margin-bottom: 80px;
    font-weight: bolder;
}
.img_sert{
    width: 450px;
    margin-bottom: 160px;
    transform: rotate(354deg);
}