body{
    margin: 0px;
    
    font-family: 'Montserrat', sans-serif;
}
.container {
    background: linear-gradient(to bottom left,#4277B0,#27A294);
}
.container3 {
    background: linear-gradient(to bottom left,#4277B0,#27A294);
}
.container5 {
    background: linear-gradient(180deg, #29A396, #357E98,#3A5480);
}
.logo1 {
   float: left;
}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.text_right_footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    align-content: flex-end;
}
.text_logo_footer{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.text_logo_h{
    display: flex;
}
.text1{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.text2{
    font-size: 16px;
}